.button-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.share-button {
  padding: 10px 35px;
  font-size: 15px;
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.02em;
  border: 0.3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 38px;
  margin-bottom: 48px;
  color: #000;
}

button:hover {
  background-color: #ffffff;
}



.thank-you-message {
  margin-top: 80px;
  margin-bottom: 38px;
  text-align: center;
}

.thank-you-message p {
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.final-image img {
  width: 366px;
  margin: auto;
  display: block;
}



.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #444;
}

.logo {
  width: 25px;
  height: auto;
  margin-bottom: 10px;
}

.brand-name {
  font-size: 12px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.16em;
  margin-bottom: 72px;
}