.info{
  text-align: center;
}

.address {
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 10px;
}
.address-number {
  font-size: 21px;
  letter-spacing: 0.03em;
}
.contact {
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: #595757;
  letter-spacing: -0.03em;
}
.phone-number {
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
}


.map-container {
  width: 87%; /* Adjust the width as needed */
  max-width: 600px; /* Optional: set a maximum width */
  margin: 10px auto; /* Center the map container */
  border: 0px solid #ddd; /* Optional: add a border to the map */
  height: 275px;
  cursor: pointer;
  text-align: center;
  box-shadow: none; /* Ensure no shadow */
  margin-top: 40px;
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  .map-container {
      width: 90%; /* Adjust for smaller screens */
  }
}


.btn-copy {
  background-color: #FBFAFA;
  border-radius: 16px;
  max-width: 173px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: sandoll-jebi2, sans-serif;
  font-weight: 300;
  font-style: normal; 
  text-decoration: none;
  cursor: pointer;
  margin-top: 42.5px;
  margin-bottom: 27px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.btn-copy:hover {
  background-color: #EFE6E6    
}